@page "/users"
@inherits UserViewModel
@inject NavigationManager NavManager
@using Newtonsoft.Json
<h3>Users</h3>

@if (Users is null)
{
    <p>
        Loading...
    </p>
}
else
{
    <hr />

    <div class="col">
        @foreach (var item in Users)
        {
            <div class="row bg-light">
                <p class="col-3 m-1">User name:<h3>@item.UserName</h3> </p>
            </div>

            @if (@item.Products.Count > 0)
            {
                <div class="row text-center">
                    <h4>Offers</h4>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Category</th>
                            <th scope="col">Color</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in @item.Products)
                        {
                            <tr>
                                <td>@product.Id</td>
                                <td>@product.Name</td>
                                <td>@product.Price</td>
                                <td>@product.Category.Title</td>
                                <td>@product.Color.Name</td>
                                <td>@product.Brand.Name</td>

                                <td>
                                    <button class="btn btn-primary btn-sm" @onclick="() => NavigateToProductPage(product.Id)">Detail</button>
                                </td>
                            </tr>

                        }


                    </tbody>
                </table>
                <hr class="bg-dark" />
            }

            <hr class="bg-dark" />

        }

    </div>
}

@code {


    public List<UserViewModel> Users { get; set; }

    HttpClient client = new HttpClient();


    protected override async Task OnInitializedAsync()
    {
        var user = await client.GetAsync("http://localhost:19383/api/users");
        Users = JsonConvert.DeserializeObject<List<UserViewModel>>(await user.Content.ReadAsStringAsync()).ToList();

    }




    public void NavigateToProductPage(int id)
    {
        NavManager.NavigateTo($"/products/{id}");
    }
    //System.Text.Encoding.UTF8.GetString(await category.Content.ReadAsByteArrayAsync())
}



